/* Formatação do Menu*/
nav{
    background-color: #FFB5A7;
    border-style: outset;
    font-family: cursive;
    font-size: 20px;
    padding: 20px;
}

#navColor{
    color: #000000;
}

.logo{
    height: 45px;
    width: 90px;
    border-radius: 3px;
    margin-left: 5px;
}

.item:hover{
    background-color: #F28482;
    border-radius: 3px;
}
 
/*Formatação geral*/
.container{
    border-color: #000000;
    margin-top: 10px; 
    border-radius: 3px; 
    
}

#containerFaleConosco{
    background-color: #F28482;
    color: #000000;
}
/* Formatção das imagens do Card de Produtos*/

#imgs {
    margin: 10px auto;
    border-radius: 3px; 
    height: 15rem;
    width: 80%;
}



/* Formatação dos Cards de produtos*/
#card{
    border-color: #F28482;
    border-style: groove;
    border-radius: 3px;
    margin-top: 10px;
}

.card-body{
    background-color: #F28482;
}

#textCard{
    color: #000000;
}

/* Formatação do Icones e cards da tela de Fale Conosco*/
#cardIcone{
    margin-top: 15px;
    background-color: #FFFFFF;
}

#textIcone{
    color: #000000;
    text-align: center; 
    
}

#item{
    margin-bottom: 10px;
}

#icone{
    margin: 10px auto;
    border-radius: 3px; 
    height: 8rem;
    width: 80%;
    color: #F28482;
}





